<h1><%= @author.name %></h1>

<section id="author-books" >
  <% @author.books.each do |book| %>
    <h4><%= book.title %></h4>

    <% book.co_author(@author).each do |author| %>
      <p>Co-author(s): <%= author.name %></p>
    <% end %>
    <p>Page Count: <%= book.number_of_pages %></p>
    <p>Year: <%= book.publish_year %></p>
    <img src="<%= book.cover %>">
    <div id="author-reviews">
      <h5>Top Review</h5>
      <p>Title: <%= book.top_book_review.title %></p>
      <p>Rating: <%= book.top_book_review.rating %></p>
      <p>Username: <%= book.top_book_review.username %></p>
    </div>
</section>
  <% end %>
