<h1>All Books</h1>

<section class="stats-bar">
  <div id="stats-bar-highest">
    <% @top_books_list.each do |book| %>
      <li><%= link_to book.title, book_path(book)%> Highest Rating: <%=book.max_rating%></li>
    <% end %>
  </div>

  <div id="stats-bar-worst">
    <% @worst_books_list.each do |book| %>
      <li><%=link_to book.title, book_path(book)%> Worst Rating: <%=book.min_rating%></li>
    <% end %>
  </div>

  <div id="top-three-users-and-review-count">
    <% @top_reviewers_list.each do |reviewer| %>
      <li>Reviewer: <%=reviewer[0]%> Total Reviews: <%=reviewer[1]%></li>
    <% end %>
  </div>

  <section>
    <h2>Sort by:</h2>
    <form action="/books" method="get">
      <input id="sort" type="submit" name="sort" value="average rating in ascending order">
    </form>
    <form action="/books" method="get">
      <input id="sort" type="submit" name="sort" value="average rating in descending order">
    </form>
    <form action="/books" method="get">
      <input id="sort" type="submit" name="sort" value="number of pages in ascending order">
    </form>
    <form action="/books" method="get">
      <input id="sort" type="submit" name="sort" value="number of pages in descending order">
    </form>
    <form action="/books" method="get">
      <input id="sort" type="submit" name="sort" value="number of reviews in ascending order">
    </form>
    <form action="/books" method="get">
      <input id="sort" type="submit" name="sort" value="number of reviews in descending order">
    </form>

  </section>

<% @books.each do |book| %>
  <section id="book-<%=book.id%>">
    <h2><%= link_to book.title, book_path(book) %></h2>
    <p>Average Rating: <%= book.average_rating.round(2)%></p>
    <p>Total Reviews: <%= book.total_reviews %></p>
    <p>Author(s):</p>
    <% book.authors.each do |author| %>
      <ul> <%= link_to author.name, author_path(author) %> </ul>
    <% end %>
    <p>Pages: <%= book.number_of_pages %></p>
    <p>Year: <%= book.publish_year %></p>
    <img style="width: 25%" src="<%=book.cover%>">
  </section>
<% end %>
