<h1>All Books </h1>

<% @books.each do |book| %>

  <h2><%= book.title %></h2>
  <p><%= book.authors.first.name %></p>
  <p><%= book.number_of_pages %></p>
  <p><%= book.publish_year %></p>
  <img src="<%=book.cover%>">
<% end %>
