<%= link_to "Delete Book", book_path(@book), method: :delete %>

<li class="nav-item">
  <a class="nav-link" ><%= link_to "Add New Review", new_book_review_path(@book)%></a>
</li>

<section class="book-stats">
  <h2>Book Stats</h2>
    <div id="overall-rating">
      <h4>Overall Average Rating: <%= @book.average_rating %></h4>
    </div>

    <div id="top-reviews-one-book">
      <h4>Top 3 Reviews</h4>
      <% @book.top_reviews.each do |book_review| %>
      <li>Title: <%= book_review.title %></li>
      <li>Rating: <%= book_review.rating %></li>
      <li>Reviewer: <%= book_review.username %></li>
      <% end %>
    </div>

    <div id="worst-reviews-one-book">
      <h4>Worst 3 Reviews</h4>
      <% @book.worst_reviews.each do |book_review| %>
      <li>Title: <%= book_review.title %></li>
      <li>Rating: <%= book_review.rating %></li>
      <li>Reviewer: <%= book_review.username %></li>
      <% end %>
    </div>
</section>

<h1><%=@book.title%></h1>

<p>Author(s): <% @book.authors.each do |author| %>
 <%= link_to author.name, author_path(author) %> </p>
 <% end %>
<p>Pages: <%= @book.number_of_pages %></p>
<p>Year: <%= @book.publish_year %></p>
<img src="<%= @book.cover %>">

<h2>Reviews</h2>
<%@book.reviews.each do |review| %>
<p>Review: </p>
<p>Title: <%= review.title %></p>
<p>Reviewer: <%= review.username %></p>
<p>Rating: <%= review.rating %></p>
<p><%= review.review_text %></p>
<% end  %>
