<h1> <%= @user_identifier %></h1>
<% @reviews.each do |review| %>
  <h3>Book Title: <%= link_to review.book.title, book_path(review.book) %> </h3>
  <img style="width: 10%" src="<%= review.book.cover %>">
  <p>Review Title: <%= review.title %> </p>
  <p>Rating:  <%= review.rating %> </p>
  <p>Review Text: <%= review.review_text %> </p>
  <p>Time: <%= review.created_at %> </p>


<% end %>
